:root{
    --background-main:#FDFCFC;
    --background-second: #e5e5e5;
    --black: #2C2C2C;
    --grey: #9A9A9A;
    --white: #FFFFFF;
}
body{
    background: var(--background-second);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
.container{
    width: 40vw;
    margin: 5vw auto;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#city{
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    line-height: 20px;
    padding: 5px 0 5px 10px;
    border: none;
    background-color: var(--background-main);
    cursor: pointer;
}
#city:focus{ 
    outline: none;
}
#city:hover + #submit{ 
    transform: translateX(-10px);
}

#submit{
    border: none;
    position: absolute;
    right: 35%;
    background-color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.item{
    display: none;
    flex-direction: column;
    padding: 25px 20px;
    background-color: var(--background-main);
    color: var(--black);
    margin-bottom: 15px;
    border-radius: 10px;
}
.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.item__city{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.item__temperature{
    font-weight: 500;
    font-size: 60px;
}
.image{
    width: 100px;
    margin-bottom: 10px;
}

.b-show {
    display: flex;
    animation: showBlock 0.3s ease-in ;
}

@keyframes showBlock {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@media(min-width: 320px){
    .container{
        width: 90vw;
    }
    #submit{
        right: 13%;
    }
}
@media(min-width: 650px){
    .container{
        width: 70vw;
    }
    #submit{
        right: 21%;
    }
}
@media(min-width: 850px){
    .container{
        width: 50vw;
    }
    #submit{
        right: 30%;
    }
}
@media(min-width: 1000px){
    .container{
        width: 36vw;
    }
    #submit{
        right: 35%;
    }
}